body
{
    background-color: #95c152;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 16px;
    text-align: center; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
h2 {
  text-align: center;
}
.container
{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
}
form
{
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

#result {
  width: 50%;
  height: 50%;
}

/* #loanAmountDiv
#loanTermDiv
#interestDiv
#monthlyPayment
#totalPrinciple
#totalInterest
 */
 label
label {
  font-size: large;
  font-weight: 400px;
  margin-bottom: 5px;
  color: #fefefe;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

label {
  float: left;
}

input {
  float: left;
}

 input[type="number"],select
{
    font-size: large;
    width: 80% auto;
    height: 30px auto;
    padding: 5px;
    border: 1px solid #fefefe;
    border-radius: 5px;
    box-shadow:0px 0px 5px  #ffffff;
    background-color:#fefefe;
    margin: 5px auto;
    text-align: center;
    align-items: center;
}
input[type="number"]:focus,select:focus
{
    outline: none;
    box-shadow:0px 0px 15px #95c152;
}
select
{
    width: 83% auto;
    height: 40px auto ;
}
 
input[type="submit"]
{
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    background-color: #95c152;
    border: none;
    border-radius: 5px;
    color:#000000;
    cursor: pointer;
    transition: background-color 0s ease;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0
    8px 16px rgba(0, 0, 0, 0.2);

}

input[type="submit"]:hover
{
    background-color: #547b19;
}
#result
{
    width: 50% auto;
    height: 50% auto;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0
    8px 16px rgba(0, 0, 0, 0.2);    
    overflow-y: scroll;
}
input[type="submit"]
{
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    background-color: #95c152;
    border: none;
    border-radius: 5px;
    color:#000000;
    cursor: pointer;
    transition: background-color 0s ease;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0
    8px 16px rgba(0, 0, 0, 0.2);

}

#mPayment
{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px ;
    color: #95c152;
}